.container
    form.form-signup(novalidate='')
        h2.form-signup-heading.text-center Testelope
        input.form-control(type='text', name='Email', ng-model='su.details.email', placeholder='Email address')
        input.form-control(type='password', name='Password', ng-model='su.details.password', placeholder='Password(min 6 characters)')
        input.form-control(type='password', name='Confirm Password', ng-model='su.details.confirmPassword', placeholder='Confirm password')
        button.btn.btn-lg.btn-primary.btn-block(type='submit', ui-action='su.signup()') Sign up
        a.btn.btn-lg.btn-default.btn-block(ui-sref='app.login') Sign in
